server:
  http_listen_port: 9080
  grpc_listen_port: 0

# 1. 로그를 받을 Loki 주소
clients:
  - url: http://monitor.internal:3100/loki/api/v1/push

# 2. 로그를 어디까지 읽었는지 저장하는 파일
positions:
  filename: /tmp/positions.yaml

# 3. 스크래핑 하는 것
scrape_configs:
  # 2. Docker 컨테이너 로그 수집 설정
  - job_name: docker_containers
    static_configs:
      - targets:
          - localhost
        labels:
          job: container_logs
          env: dev  # envs/dev 환경 구분용
          __path__: /var/lib/docker/containers/*/*.log # Docker 로그 기본 경로

    # 3. 로그 데이터 가공 (컨테이너 ID 추출 등)
    pipeline_stages:
      - json:
          expressions:
            output: log
            stream: stream
            attrs: attrs
      - json:
          expressions:
            tag:
          source: attrs
      - labels:
          stream:
          tag:

  # 4. 시스템 로그 (선택 사항)
  - job_name: system
    static_configs:
      - targets:
          - localhost
        labels:
          job: varlogs
          __path__: /var/log/*log